@import "@/styles/design.scss";

.root {
  display: grid;
  column-gap: 24px;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $laptop) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  padding: 24px;
  transition: 0.3s;

  @media (min-width: $laptop) {
    aspect-ratio: 16/4;
  }
}

.item:hover {
  border: 2px solid #c4bebe;
}

.iconWrapper {
  margin-bottom: 12px;
}

.text {
  font-size: 20px;
  font-weight: bold;
  color: #424242;
}
