@import "@/styles/design.scss";

.item {
  font-size: 16px;
  line-height: 140%;
  color: #4e4c4c;

  @media (min-width: $tablet) {
    font-size: 20px;
  }

  @media (min-width: $laptop) {
    font-size: 24px;
  }
}

.item::before {
  content: "—";
  padding-right: 8px;

  @media (min-width: $laptop) {
    padding-right: 12px;
  }
}
