@import "@/styles/design.scss";

.root {
  font-size: 16px;
  line-height: 140%;

  @media (min-width: $tablet) {
    font-size: 20px;
  }

  @media (min-width: $laptop) {
    font-size: 24px;
  }
}

.item {
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  padding: 24px;
  transition: 0.3s;
}

.item:hover {
  border: 2px solid #c4bebe;
}

.root a {
  color: #464646;
}
