@import "@/styles/design.scss";

.root {
  padding: 24px 16px;

  @media (min-width: $tablet) {
    padding: 48px 32px;
  }

  @media (min-width: $laptop) {
    padding: 64px 48px;
  }
}

.headerWrapper {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
